<nav class="navbar fixed-top bg-light navbar-expand-lg bg-light rounded shadow-sm p-2 justify-content-between">
    <a href="" routerLink="" class="navbar-brand pl-4 p-0 ">
      <img src="../assets/brand1.webp" class="w-50 p-0"/> 
    </a>
    <div class="row">
        <a href="" class="nav align-content-center mr-5" >Home</a>
        <a href="" class="nav align-content-center mr-5">About</a>
        <a href="" class="nav align-content-center mr-5">Services</a>
        <a href="" class="nav align-content-center mr-5">Contact</a>
        <button  mat-raised-button routerLink="/register" class="ml-2 mr-4" style="border : 0px solid rgb(255, 255, 255);border-radius: 20px; background-color: rgb(0, 1, 36); color: rgb(255, 255, 255);">SignUp</button>   
        </div>
</nav>
    <div class="d-flex row rc shadow-lg">
        <div class="col-6 lc">
            <div class="" rounded>
              <!--   <img src="../../assets/" width="200px"> -->
            </div>    
        </div>
        <div class="col-6">
                    <div class="card-body">
                        <h2 class="font-weight-bold m-0">Login</h2>
                        <p class="small m-0">Login to get Started</p>
                        <form [formGroup]="loginForm" class="mt-2 mb-2" (ngSubmit)="onSubmit()">
                            <mat-form-field class ="input mt-2" appearance="legacy">  
                                <mat-label>Your Email</mat-label>
                                <input matInput placeholder="Email" [formControl]="email" required>
                                <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
                            </mat-form-field>

                            <mat-form-field class ="input" appearance="legacy">
                                <mat-label>Enter the password</mat-label>
                                <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password" required>
                                <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <svg *ngIf = "!hide" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-eye-fill" fill="currentColor">
                                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                                        <path fill-rule="evenodd" d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                                    </svg>
                                    <svg *ngIf="hide" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-eye-slash-fill" fill="currentColor">
                                        <path d="M10.79 12.912l-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588zM5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.089z"/>
                                        <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708l-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829z"/>
                                        <path fill-rule="evenodd" d="M13.646 14.354l-12-12 .708-.708 12 12-.708.708z"/>
                                      </svg>
                                </button>
                            </mat-form-field>
                            <mat-checkbox [formControl]="rememberPassword" class="small">remember me</mat-checkbox>
                            <div class ='regbtn'>
                            <button [disabled]="loading" class="btn mt-3 mb-2 pt-1 pb-1">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                    Login
                            </button>
                            </div>
                            <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                        </form>
                        <p class="small mt-2">or Login with social media</p>
                            <div class="m-0 p-0">
                                <div class="d-flex row justify-content-around">
                                <button (click)="socialSignIn('google')" class="btn  mt-2 mb-1 pt-1 pb-1">
                                    Google
                                </button>
                                <button (click)="socialSignIn('facebook')" class="btn  mt-2 mb-1 pt-1 pb-1">
                                    Facebook
                                </button>
                                <button (click)="socialSignIn('linkedin')"class="btn mt-2 mb-1 pt-1 pb-1">
                                    Linkedin
                                </button>
                                <button (click)="socialSignIn('twitter')" class="btn mt-2 mb-1 pt-1 pb-1">
                                    Twitter
                                </button>
                                </div>
                            </div>
                    </div>
            </div>
    </div>

