<div style="background-image: url(../../assets/bg1.jpg); height: 100%; background-size: cover;">
<nav class="navbar sticky-top navbar-expand-lg rounded  p-2 justify-content-between">
    <a href="http://localhost:4200" class="navbar-brand pl-4 p-0 ">
      <img src="../assets/brand.png" class="w-50 p-0"/> 
    </a>
    <div class="row">
    <a href="" class="nav align-content-center mr-5">Home</a>
    <a href="" class="nav align-content-center mr-5">About</a>
    <a href="" class="nav align-content-center mr-5">Services</a>
    <a href="" class="nav align-content-center mr-5">Contact</a>
    <button  mat-rasied-button routerLink="/login" style=" border-radius: 20px;  background-color: rgb(255, 255, 255); color: rgb(8, 95, 5); padding: 0;">Login</button>   
    <button  mat-raised-button routerLink="/register" class="ml-2 mr-4" style="border-radius: 20px; background-color: rgb(255, 255, 255); color: rgb(20, 7, 80);">SignUp</button>   
    </div>
</nav>
<div class="" style="margin-top:10%; margin-left:10%; ">
  <p class = "h1 ">Create Amazing <br>Surveys |<br> Polls | <br>Feedbacks. </p>
</div>
</div>