<nav class="navbar bg-light navbar-expand-lg rounded p-2 justify-content-between">
    <a href="" routerLink = "" class="navbar-brand pl-4 p-0 ">
      <img src="../assets/brand1.webp" class="w-50 p-0"/> 
    </a>
    <div class="row">
    <a href="" class="nav nav-item align-content-center mr-5" >Home</a>
    <a href="" class="nav nav-item align-content-center mr-5">About</a>
    <a href="" class="nav nav-item align-content-center mr-5">Services</a>
    <a href="" class="nav nav-item align-content-center mr-5">Contact</a>
    <button  routerLink="/login" class="btn">Login</button>   
    <button  routerLink="/register" class="btn ml-2 mr-4" style="border : 0px solid rgb(100, 19, 19);border-radius: 20px; background-color: rgb(0, 36, 5); color: rgb(255, 255, 255);">SignUp</button>   
    </div>
</nav>
<div class="text-center" style="margin-top:10%; ">
  <p class = "h1 text-center">Create Amazing <br>Surveys |<br> Polls | <br>Feedbacks. </p>
  <button color="primary" class="btn ml-2 mr-4 " style="border : 0px solid rgb(255, 255, 255); background-color: rgb(0, 2, 37); color: rgb(255, 255, 255);">Get Started ></button>
</div>
<div class="h1 font-weight-bold d-flex  w-100 mb-5 justify-content-center" style="margin-top: 10%;">
  <p class="text-center">Power of Analytics in your Business,<br> Built Right into it.<br></p>
</div>
<div class="container d-flex flex-row w-100 mt-5 mb-5 justify-content-center">
  <div class="card w-25  m-3 p-3  rounded shadow-lg border-blue align-items-center">
    <p class="text-center mt-2">Create Personal Surveys. <br> An Opinion Poll or Questionaire <br>Really You can do it the way you like.</p>
    <button  routerLink="/" class="btn btncard">Personal</button>   

  </div>
  <div class="card w-25  m-3 p-3  rounded shadow-lg border-blue align-items-center">
    <p class="text-center mt-2">Get feedbacks from Customers. <br> Create Awareness about your brand. <br> We would love to Help.</p>
    <button  routerLink="/" class="btn btncard" >Business</button>   

  </div>
  <div class="card w-25  m-3 p-3  rounded shadow-lg border-blue align-items-center">
    <p class="text-center mt-2">Got an Organisation. Improve <br> Operations with Employee Reviews<br> We are here to take Care.</p>
    <button   routerLink="/" class="btn btncard" >Organization</button>   

  </div>
</div>
<div class="container border-top shadow-sm mt-5 w-100 d-flex flex-column align-items-center">
  <div class="m-1 mt-3 font-weight-normal">Made with ❤️ in India</div>
  <div class="m-1 mb-3 font-weight-bold">copyright SurveyTabs.Inc</div>
</div>