<nav class="navbar bg-light navbar-expand-lg bg-light p-2 border-bottom">
  <a href="" routerLink="" class="navbar-brand pl-4 p-0 ">
    <img src="../assets/bran.svg" class=" branding p-0"/> 
  </a>
    <input type="text" placeholder="Search" class = "search_box nav" name ="search_box" />
    <div class = "profile"></div>
</nav>
<div class = " pl-5 suggestions"><div *ngFor = "let item of items" class = "chip"  >{{item.value}}</div>
</div>
<div class = "row mr-0 ml-0">
  <div class = "col-8 p-0 m-0 contentdiv">
    <div class = "article">
    <div class = "title  m-5">This is a Title for desiging purpose.</div>
    <div class = "content pl-5 pr-5">{{sample_text}}</div>
  </div>
  </div>
  <div class = " col-4 feeds p-2 m-0"><div class = "feed_card m-3 p-3 shadow-sm rounded"><div class= "feed_title">{{feed_title}}</div><div class ="feed_text">{{feed_text}}</div></div>
  <div class = "feed m-3 p-3 shadow-sm rounded">{{feed_title}}</div>
  <div class = "feed m-3 p-3 shadow-sm rounded">{{feed_title}}</div>
  <div class = "feed m-3 p-3 shadow-sm rounded">{{feed_title}}</div>
  <div class = "feed m-3 p-3 shadow-sm rounded">{{feed_title}}</div>
  <div class = "feed m-3 p-3 shadow-sm rounded">{{feed_title}}</div>
  <div class = "feed m-3 p-3 shadow-sm rounded">{{feed_title}}</div>
  <div class = "feed m-3 p-3 shadow-sm rounded">{{feed_title}}</div>
  <div class = "feed m-3 p-3 shadow-sm rounded">{{feed_title}}</div>
  <div class = "feed m-3 p-3 shadow-sm rounded">{{feed_title}}</div>
  <div class = "feed m-3 p-3 shadow-sm rounded">{{feed_title}}</div>

</div>
</div>